<div class="hero-div">
  <h1>App Name</h1>
  <p class="lead">[The app for...]</p><br>
  <a href="/#/register" class="btn btn-primary btn-lg">Get Started Now</a>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>[heading]</h2>
    <p>
      [description]
    </p>
  </div>
  <div class="col-md-4">
    <h2>[heading]</h2>
    <p>
      [description]
    </p>
  </div>
  <div class="col-md-4">
    <h2>[heading]</h2>
    <p>
      [description]
    </p>
  </div>
</div>
